/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. You can learn more about the
NativeScript core theme at https://github.com/nativescript/theme
The imported CSS rules must precede all other types of rules.
*/
@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

/* Place any CSS rules you want to apply on both iOS and Android here.
This is where the vast majority of your CSS code goes. */

/*
The following CSS rule changes the font size of all Buttons that have the
'-primary' class modifier.
*/
Button.-primary {
  font-size: 60;
}
.img{
  border-color: #fff;
  border-width:20px;
  height:500px;
  width:500px;
}
.calc-screen{
  display: grid;
  justify-items: end;
  align-items: end;
  margin-bottom: 25px;
  text-align: right;
  font-size: 100px;
  margin: 0;
  color: #ffffff;
}
.btn{
  width: 250px;
  height: 250px;
  background: #00acae;
  border-radius: 50%; 
  text-align: center;
  line-height: 230px;
  font-size: 50px;
  cursor: pointer;
  user-select: none;
  color: #ffffff;
}
.btn1{
  width: 250px;
  height: 250px;
  background: #00acae;
  text-align: center;
  line-height: 230px;
  font-size: 50px;
  cursor: pointer;
  user-select: none;
  color: #ffffff;
}
.btn:hover{
  filter: brightness(120%);
}
.btn:active{
 filter: brightness(90%);
}
.btn.bg-grey{
 background: #a6a6a6;
}

